@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans-Regular-webfont.eot');
	src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
	url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
	url('../fonts/OpenSans-Regular-webfont.svg#open_sansbold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSansLight';
	src: url('../fonts/OpenSans-Light-webfont.eot');
	src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
	url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'),
	url('../fonts/OpenSans-Light-webfont.svg#open_sansbold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSansSemi';
	src: url('../fonts/OpenSans-Semibold-webfont.eot');
	src: url('../fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/OpenSans-Semibold-webfont.woff') format('woff'),
	url('../fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
	url('../fonts/OpenSans-Semibold-webfont.svg#open_sansbold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSansBold';
	src: url('../fonts/OpenSans-Bold-webfont.eot');
	src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
	url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
	url('../fonts/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
	font-weight: normal;
	font-style: normal;
}


body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

* {
	position: absolute;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-text-size-adjust: none;
}

.footer-link {
	opacity: 0.4;
}

span {
	position: relative;
	font-family: 'OpenSansBold';
}

.footer-link:active,
.footer-link:visited,
.footer-link:focus,
.footer-link:hover {
	opacity: 1;
}


