    html,body,aside1 div,aside1 a,.aside1{
      margin: 0;
      padding: 0;
      border: 0;
      outline: 0;
      list-style: none;
    }
    body{
      background-color: white !important;     //#ED784A
      line-height: 1;
    }

    #scroll{
      padding: 5px;
      position: fixed;
      height: auto;
      left: 0.5vw;
      width: auto;
      z-index: 9999;
      top: 25%;
      margin: auto;
    }

    #scroll .wrapper{
      padding: 0;
      width: 100%;
      height: 785px;
    }

    #scroll .nodes{
      position: relative;
      margin-top: 1px;
      margin-left: 1px;
    }

    .aline{
      position: absolute;
      width: 1px;
      height: 1500px;         /*改变线长度，235每个*/
      top: 13px;
    }

    .aline .blue{
      width: 1px;
      height: 20%;
      position: relative;
      left: 15px;

      background-color: #66BAB7;
      *zoom: 1;
      background-size: 100%;
    }

    /*.line .red-container{
      position: relative;
      width: 4px;
    }

    .line .red{
      width: 1px;
      height: 47%;
      position: relative;

      background-color: #00D6FF;
      *zoom: 1;
      background-size: 100%;
    }*/

    .node{
      margin-left: 5px;
      width: 20px;
      height: 20px;
      margin-top: 30px;
      position: relative;
    }

    .node .splash{
      box-shadow: 0px 0px 8px 2px rgba(69, 174, 233, 0.53);
      transform: translateZ(0px) scale(1);
      position: absolute;
      width: 20px;
      height: 20px;
      border-radius: 100%;
      pointer-events: none;
      opacity: 1;
    }

    /*.node.active .active-circle{
      transform: scale(1);
      opacity: 1;
      background: white;
      left: 1.6px;
    }

    .node.active .splash{
      transition: transform 1200ms, opacity 1500ms;
      transform: translateZ(0px) scale(2.5);
      opacity: 0 !important;
    }*/

    .node .active-circle{
      transition: all 300ms cubic-bezier(0.63,0.62,0.48,1.84);
      transform: scale(0.7);
      position: absolute;
      opacity: 0;
      width: 20px;
      height: 20px;
      border-radius: 100%;
      background-color: #4b1202;
      *zoom: 1;
      background-size: 100%;
    }

    .node .active-circle .cover{
      transform: translateZ(0px);
      width: 16px;
      height: 16px;
      background: #00D6FF;
      border-radius: 100%;
      position: absolute;
      top: 2px;
      left: 2px;
    }

    .node .inactive-circle{
      transition: all 300ms cubic-bezier(0.63,0.62,0.48,1.84);
      width: 14px;
      height: 14px;
      display: block;
      background: #66BAB7;              /*改变圆点颜色#66BAB7*/
      position: absolute;
      border-radius: 100%;
      border: 2px solid #ED784A;       /*改变圆环颜色*/
      top: 3px;
      left: 3px;
    }

    .node:hover{
      cursor: pointer;
    }

    .node:hover .active-circle{
      transition: all 200ms cubic-bezier(0.63,0.62,0.48,1.84);
      transform: scale(0.84);
    }

    .node:hover .inactive-circle{
      transition: all 200ms cubic-bezier(0.63,0.62,0.48,1.84);
      transform: scale(0.85);
    }

    .topic{
      position: relative;
      margin-top: 0vh !important;
      width: 200px;
      height: auto;
      left: 210px;
      float: right;
      color: black;
    }

    .text_color{
      color: #F3F7F7;
      font-size: 12px !important;
    }

    .node a{
      text-decoration: none;
      color: black;
    }