    html,body,header1 div,header1 a,.header1,#nav,.menu, .menu ul{             /*消除默认属性*/ 
		list-style: none;
		padding: 0;
		margin: 0;
		border: 0;
		outline: 0;
	}

	#nav{
		position: relative;
		background-color: #3498DB;   /*导航栏背景颜色#ED784A*/
		border-radius:5px;
		width: 1285px;
		height: auto;
		margin: 0 auto;
		margin-top: 30px;
		margin-bottom: 100px;
	}
	.menu li{
		/*渐变颜色*/
		background: -moz-linear-gradient(#3498DB, #252525);
		background: -ms-linear-gradient(#3498DB, #252525);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3498DB), color-stop(100%, #252525));
		background: -webkit-linear-gradient(#3498DB, #252525);
		background: -o-linear-gradient(#3498DB, #252525);
		/*滤镜实现IE中渐变颜色*/
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3498DB', endColorstr='#252525');
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#3498DB', endColorstr='#252525')";
		background: linear-gradient(#3498DB, #ED784A);    /*改变li的颜色，且颜色渐变*/
		/*border-bottom: 1px solid #181818;            
		border-top: 1px solid #303030;   */        
		min-width: 155px;
		// min-height: 90px;
		box-shadow: #666 0px 0px 10px;
	}

	.menu > li:nth-child(1){
		min-width: 200px;
	}

	.menu > li{
		display: block;
		float: left;
		position: relative;
	}

	.menu > li:first-child{
		border-radius: 5px 0 0 5px;
	}
	.menu > li:last-child{
		border-radius: 0 5px 5px 0;
	}
	.menu > li:first-child a{
		padding: 0 10px;
	}

	.menu a{
		border-left: 3px solid rgba(0,0,0,0);
		color: #272822;
		display: block;
		font-family: 'Lucida Console';
		font-size: 22px;
		padding: 5px 10px;
		height: 47px;
		line-height: 25px;
		text-decoration: none;
		/*text-transform: uppercase;*/
	}

	.menu li:hover {
		background-color: #1c1c1c;
		background: -moz-linear-gradient(#1c1c1c, #1b1b1b);
		background: -ms-linear-gradient(#1c1c1c, #1b1b1b);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1c1c1c), color-stop(100%, #1b1b1b));
		background: -webkit-linear-gradient(#1c1c1c, #1b1b1b);
		background: -o-linear-gradient(#1c1c1c, #1b1b1b);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1c1c1c', endColorstr='#1b1b1b');
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#1c1c1c', endColorstr='#1b1b1b')";
		background: linear-gradient(#1c1c1c, #1b1b1b);
		// border-bottom: 2px solid #222222;
		// border-top: 2px solid #1B1B1B;
	}

	.menu li:hover > a {
		border-radius: 5px 0 0 0;
		border-left: 3px solid #C4302B;
		color: #C4302B;
	}

	/*对submenu操作*/
	.submenu{
		left: 0;
		max-height: 0;
		position: absolute;
		top: 100%;
		z-index: 10000;
		-webkit-perspective: 400px;
		-moz-perspective: 400px;
		-ms-perspective: 400px;
		-o-perspective: 400px;
		perspective: 400px;
	}

	.submenu li{
		opacity: 0;
		-webkit-transform: rotateY(90deg);
		-moz-transform: rotateY(90deg);
		-ms-transform: rotateY(90deg);
		-o-transform: rotateY(90deg);
		transform: rotateY(90deg);
		-webkit-transition: opacity .4s, -webkit-transform .5s;
		-moz-transition: opacity .4s, -moz-transform .5s;
		-ms-transition: opacity .4s, -ms-transform .5s;
		-o-transition: opacity .4s, -o-transform .5s;
		transition: opacity .4s, transform .5s;
		width: 155px;
		border-bottom: 1px solid #181818;            
		border-top: 1px solid #303030;  
	}

	.submenu li a {
		position: relative;
		padding: 10px 10px 5px 10px;
		font-size: 15px;
		height: auto;
	}

	.menu .submenu li:hover a{
		border-left: 3px solid #454545;
		border-radius: 0;
		color: #ffffff;
	}

	.menu > li:hover .submenu, .menu > li:focus .submenu {
		max-height: 2000px;
		z-index: 10;
	}

	.menu > li:hover .submenu li, .menu > li:focus .submenu li{
		opacity: 1;
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
	}

	/*添加每个子菜单的延迟*/
	.menu li:hover .submenu li:nth-child(1) {
		-webkit-transition-delay: 0s;
		-moz-transition-delay: 0s;
		-ms-transition-delay: 0s;
		-o-transition-delay: 0s;
		transition-delay: 0s;
	}

	.menu li:hover .submenu li:nth-child(2) {
		-webkit-transition-delay: 50ms;
		-moz-transition-delay: 50ms;
		-ms-transition-delay: 50ms;
		-o-transition-delay: 50ms;
		transition-delay: 50ms;
	}

	.menu li:hover .submenu li:nth-child(3) {
		-webkit-transition-delay: 100ms;
		-moz-transition-delay: 100ms;
		-ms-transition-delay: 100ms;
		-o-transition-delay: 100ms;
		transition-delay: 100ms;
	}

	.menu li:hover .submenu li:nth-child(4) {
		-webkit-transition-delay: 150ms;
		-moz-transition-delay: 150ms;
		-ms-transition-delay: 150ms;
		-o-transition-delay: 150ms;
		transition-delay: 150ms;
	}

	.menu li:hover .submenu li:nth-child(5) {
		-webkit-transition-delay: 200ms;
		-moz-transition-delay: 200ms;
		-ms-transition-delay: 200ms;
		-o-transition-delay: 200ms;
		transition-delay: 200ms;
	}

	.menu li:hover .submenu li:nth-child(6) {
		-webkit-transition-delay: 250ms;
		-moz-transition-delay: 250ms;
		-ms-transition-delay: 250ms;
		-o-transition-delay: 250ms;
		transition-delay: 250ms;
	}

	.menu li:hover .submenu li:nth-child(7) {
		-webkit-transition-delay: 300ms;
		-moz-transition-delay: 300ms;
		-ms-transition-delay: 300ms;
		-o-transition-delay: 300ms;
		transition-delay: 300ms;
	}

	.submenu li:nth-child(1) {
		-webkit-transition-delay: 300ms;
		-moz-transition-delay: 300ms;
		-ms-transition-delay: 300ms;
		-o-transition-delay: 300ms;
		transition-delay: 300ms;
	}

	.submenu li:nth-child(2) {
		-webkit-transition-delay: 250ms;
		-moz-transition-delay: 250ms;
		-ms-transition-delay: 250ms;
		-o-transition-delay: 250ms;
		transition-delay: 250ms;
	}

	.submenu li:nth-child(3) {
		-webkit-transition-delay: 200ms;
		-moz-transition-delay: 200ms;
		-ms-transition-delay: 200ms;
		-o-transition-delay: 200ms;
		transition-delay: 200ms;
	}

	.submenu li:nth-child(4) {
		-webkit-transition-delay: 150ms;
		-moz-transition-delay: 150ms;
		-ms-transition-delay: 150ms;
		-o-transition-delay: 150ms;
		transition-delay: 150ms;
	}

	.submenu li:nth-child(5) {
		-webkit-transition-delay: 100ms;
		-moz-transition-delay: 100ms;
		-ms-transition-delay: 100ms;
		-o-transition-delay: 100ms;
		transition-delay: 100ms;
	}

	.submenu li:nth-child(6) {
		-webkit-transition-delay: 50ms;
		-moz-transition-delay: 50ms;
		-ms-transition-delay: 50ms;
		-o-transition-delay: 50ms;
		transition-delay: 50ms;
	}

	.submenu li:nth-child(7) {
		-webkit-transition-delay: 0s;
		-moz-transition-delay: 0s;
		-ms-transition-delay: 0s;
		-o-transition-delay: 0s;
		transition-delay: 0s;
	}

	.clearfix:after{
		content: '';
		height: 0;
		display: block;
		clear: both;
	}